.button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;

    img {
        transition: .3s ease-in-out;
    }

    &_month-nav {
        &.l:hover {
            img {
                margin-left: -10px;
            }
        }
        &.r:hover {
            img {
                margin-left: 7px;
            }
        }
    }

    &_year-nav {
        height: 30px;
        &#pYr {
            img {
                margin-top: 5px;
            }
        }
        &#pYr:hover {
            img {
                margin-top: -20px;
            }
        }
        &#nYr:hover {
            img {
                margin-top: 10px;
            }
        }
    }

    &_settings {
        padding: 5px;

        img {
            display: block;
        }
    }

    &_choice-theme {
        padding: 10px;
        font-size: 20px;
        width: 150px;
    }

    &_todo {
        width: 100%;
        display: block;
        padding: 20px;
        font-family: $font;
        font-size: 16px;
        text-align: left;
        transition: .3s ease-in-out;
        word-wrap: break-word;
        line-height: 20px;

        .time {
            display: block;
            font-size: 12px;
            margin-top: 8px;
            span {
                font-weight: bolder;
            }
        }
    }

    &_date {
        border: none;
        cursor: pointer;
        font-family: $font;
        font-size: 25px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        outline: none;
        transition: .3s ease-in-out;
    }
}