.calendar {
    display: grid;
    grid-template:
        "monthNav monthNav yearNav" 55px
        "daysList daysList yearNav" 20px
        "monthsDates monthsDates yearNav"/
        1fr 1fr 100px;
    grid-row-gap: 47px;


    .month-nav {
        grid-area: monthNav;
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-column-gap: 10px;
        z-index: 2;
        padding: 0 30px;
    }

    .days-list {
        grid-area: daysList;
        display: grid;
        grid-template-columns: repeat(7, 80px);
        justify-content: center;

        span {
            font-family: $font;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .months-dates-carousel {
        grid-area: monthsDates;
        z-index: 2;

        .months-dates {
            padding: 20px;
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: repeat(7, 80px);
            grid-auto-rows: 60px;
        }
    }

    .year-nav {
        grid-area: yearNav;
        display: grid;
        grid-template-rows: 25px 1fr 25px;
        border-radius: 5px;
        align-items: center;
        z-index: 1;
        padding: 20px 0;

        .year-carousel {
            .carousel__item {

                font-family: $font;
                font-style: normal;
                font-weight: bold;
                text-transform: uppercase;

                &:nth-child(5) {
                    font-size: 30px;
                }

                &:nth-child(4),
                &:nth-child(6) {
                    font-size: 20px;
                }

                &:nth-child(3),
                &:nth-child(7) {
                    font-size: 10px;
                }

                &:nth-child(1), &:nth-child(2),
                &:nth-child(8), &:nth-child(9) {
                    font-size: 6px;
                }
            }
        }
    }
}