.carousel {
    display: flex;
    overflow: hidden;

    &__item {
        width: 100%;
        transition: .3s ease-in-out;
        flex: 0 0 100%;

        &:first-child {
            margin-left: -100%;
        }
    }

    &_vert {
        flex-direction: column;
        height: 420px;

        .carousel__item {
            height: 60px;
            flex: none;
            text-align: center;

            &:first-child {
                margin-top: -60px;
                margin-left: 0;
                * {
                    transition: .3s ease;
                }
            }
        }
    }

    &_hor {
        margin-left: 0;
    }

}