.info {
    width: 215px;
    height: 600px;
    display: grid;
    grid-template-rows: 140px 1fr 65px;

    .user-info-container {
        display: grid;
        height: 100%;
        grid-template-rows: 3fr 1fr;
    }

    .date-info {
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            transition: .3s ease-in-out;
        }
    }
}