.months-carousel {
    .carousel__item {
        font-family: $font;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 46px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            flex: 0 0 33.3333%;
        }

        &:nth-child(1), &:nth-child(2),
        &:nth-child(4), &:nth-child(5) {
            font-size: 15px;
        }

        &:nth-child(1), &:nth-child(2) {
            justify-content: flex-start;
        }

        &:nth-child(4), &:nth-child(5) {
            justify-content: flex-end;
        }
    }
}