$font: Roboto, sans-serif;

$fontColorLightTheme: #000;
$fontColorDarkTheme: #e0e0e0;
$fontColorTransparentTheme: #ffffff;

$bgLightTheme: #fff;
$bgLightThemeHover: #f7f7f7;
$borderLightTheme: 1px solid #f7f7f7;

$bgDarkTheme: #121212;
$bgDarkThemeHover: #242424;
$borderDarkTheme: 1px solid #242424;

$bgTransparentTheme: rgba(0, 0, 0, .3);
$bgTransparentThemeHover: rgba(0, 0, 0, .5);
$borderTransparentTheme: 1px solid rgba(0, 0, 0, .3);

$bgDateTransparentTheme: rgba(0, 0, 0, .2);
$bgDateTransparentThemeHover: rgba(0, 0, 0, .4);