* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

@import "vars";
@import "base/wrapper";
@import "base/calendar";
@import "base/carousel";
@import "base/info";
@import "base/months_nav_carousel";
@import "base/buttons";