@import "vars";
@import "base/buttons";

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 3fr;

    .setting {
        border-bottom: $borderLightTheme;
        display: grid;
        grid-template-columns: 3fr 7fr;
        transition: .3s ease-in-out;

        &-name {
            font-family: $font;
            font-size: 24px;
            padding-left: 30px;

            &_tc {
                display: flex;
                align-items: center;
            }

            &_bg-choice {
                padding-top: 30px;
            }
        }

        &-values {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 250px;

            &__item {
                font-family: $font;
                font-size: 20px;
                display: flex;

                .radio-btn {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    background: #fff;
                }

                label {
                    position: relative;
                    display: flex;

                    input[type="radio"] {
                        display: block;
                        opacity: 0;
                        z-index: 10;
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }

                    span:after {
                        content: '';
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        left: 0;
                        border-radius: 5px;
                        transition: .3s ease-in-out;
                    }
                }
            }
        }

        .drop-area {
            width: 300px;
            height: 300px;
            transition: .3s ease-in-out;
        }
    }

    .preview-img {
        width: 400px;
        height: 200px;
        margin-left: 15px;
        overflow: hidden;
        border-radius: 10px;
        border: $borderTransparentTheme;
        img {
            max-width: 400px;
        }
    }

    &[dark-theme] {
        background-color: $bgDarkTheme;
        color: $fontColorDarkTheme;

        .light-theme-img {
            display: none;
        }

        .setting {
            border-bottom: $borderDarkTheme;

            &:nth-child(even) {
                background: $bgDarkThemeHover;
            }

            &-values {
                .button_choice-theme {
                    color: $fontColorDarkTheme;
                    border: $borderDarkTheme;

                    &:hover {
                        background: $bgDarkThemeHover;
                        box-shadow: 0 0 10px 5px #383838;
                    }
                }

                label {
                    span:after {
                        background: $fontColorDarkTheme;
                        border: 3px solid $fontColorDarkTheme;
                    }

                    input[type="radio"]:checked + span:after {
                        background: #383838;
                    }
                }
            }

            .drop-area {
                border: 1px solid $bgDarkThemeHover;

                &.highlight {
                    background-color: $bgDarkThemeHover;
                }
            }
        }
    }
    &[light-theme] {
        background: $bgLightTheme;

        .default-img {
            display: none;
        }

        .setting {

            &:nth-child(even) {
                background: $bgLightThemeHover;
            }

            &-values {
                .button_choice-theme {
                    color: $fontColorLightTheme;
                    border: $borderLightTheme;

                    &:hover {
                        background: $bgLightThemeHover;
                        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
                    }
                }
                label {
                    span:after {
                        background: $fontColorLightTheme;
                        border: 3px solid $fontColorLightTheme;
                    }

                    input[type="radio"]:checked + span:after {
                        background: $bgLightTheme;
                    }
                }
            }

            .drop-area {
                border: 1px solid $fontColorLightTheme;
                background: $bgLightTheme;

                &.highlight {
                    background: $bgLightThemeHover;
                    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.05);
                }
            }
        }
    }
    &[default-theme] {
        background-image: url('../img/bg6.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: $fontColorTransparentTheme;

        .light-theme-img {
            display: none;
        }

        .setting {
            background: $bgTransparentTheme;
            backdrop-filter: blur(10px);

            &-values {
                .button_choice-theme {
                    color: $fontColorTransparentTheme;
                    border: $borderTransparentTheme;

                    &:hover {
                        background: $bgTransparentTheme;
                    }
                }

                label {
                    span:after {
                        background: $fontColorTransparentTheme;
                        border: 3px solid $fontColorTransparentTheme;
                    }

                    input[type="radio"]:checked + span:after {
                        background: transparent;
                    }
                }
            }

            .drop-area {
                border: $borderTransparentTheme;
                background: $bgTransparentTheme;

                &.highlight {
                    background: $bgTransparentThemeHover;
                }
            }
        }
    }
}