.button {
    .light-theme-img {
        display: none;
    }

    &_todo {
        color: $fontColorTransparentTheme;
        border-bottom: $borderTransparentTheme;

        &:hover {
            background-color: $bgTransparentThemeHover;
        }
    }

    &_date {
        color: $fontColorTransparentTheme;
        background-color: $bgTransparentTheme;
        backdrop-filter: blur(10px);

        &:hover {
            background-color: $bgTransparentThemeHover;
            box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.3);
        }
    }
}