.year-nav {
    background-color: $bgTransparentTheme;
    backdrop-filter: blur(10px);
    box-shadow: 10px 14px 80px -15px rgba(255, 255 ,255, .4);

    .year-carousel {
        .carousel__item {
            color: $fontColorTransparentTheme
        }
    }
}

.days-list {
    span {
        color: $fontColorTransparentTheme;
    }
}