.info {
    background-color: $bgTransparentTheme;
    box-shadow: 10px 14px 80px -15px rgba(255, 255 ,255, .4);
    backdrop-filter: blur(10px);

    .date-info {
        border-top: $borderTransparentTheme;
        border-bottom: $borderTransparentTheme;


        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .2);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .3);
        }
    }
}