.months-carousel {
    color: $fontColorTransparentTheme;

    .carousel__item {
        &:nth-child(1), &:nth-child(2),
        &:nth-child(4), &:nth-child(5) {
            opacity: .6;
        }
    }
}