.button .light-theme-img {
  display: none;
}
.button_todo {
  color: #e0e0e0;
  background-color: #121212;
  border-bottom: 1px solid #242424;
}
.button_todo:hover {
  background-color: #242424;
}
.button_date {
  color: #e0e0e0;
  background-color: #121212;
}
.button_date:hover {
  background-color: #242424;
  box-shadow: -1px 4px 20px 1px #242424;
}

.year-nav {
  background-color: #121212;
  box-shadow: 10px 14px 80px -15px #242424;
}
.year-nav .year-carousel {
  color: #e0e0e0;
}

.days-list span {
  color: #e0e0e0;
}

.info {
  background-color: #121212;
  box-shadow: -10px 14px 80px -15px #242424;
}
.info .date-info {
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
}
.info .date-info::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
}
.info .date-info::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.months-carousel {
  color: #e0e0e0;
}
.months-carousel .carousel__item:nth-child(1), .months-carousel .carousel__item:nth-child(2), .months-carousel .carousel__item:nth-child(4), .months-carousel .carousel__item:nth-child(5) {
  opacity: 0.6;
}

/*# sourceMappingURL=dark-theme.css.map */
