.button .light-theme-img {
  display: none;
}
.button_todo {
  color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.button_todo:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.button_date {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.button_date:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 24px rgba(255, 255, 255, 0.3);
}

.year-nav {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 10px 14px 80px -15px rgba(255, 255, 255, 0.4);
}
.year-nav .year-carousel .carousel__item {
  color: #ffffff;
}

.days-list span {
  color: #ffffff;
}

.info {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 10px 14px 80px -15px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}
.info .date-info {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.info .date-info::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
.info .date-info::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.months-carousel {
  color: #ffffff;
}
.months-carousel .carousel__item:nth-child(1), .months-carousel .carousel__item:nth-child(2), .months-carousel .carousel__item:nth-child(4), .months-carousel .carousel__item:nth-child(5) {
  opacity: 0.6;
}

/*# sourceMappingURL=default-theme.css.map */
