.button .default-img {
  display: none;
}
.button_todo {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.button_todo:hover {
  background-color: #f7f7f7;
}
.button_date {
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #f7f7f7;
}
.button_date:hover {
  background-color: #f7f7f7;
  box-shadow: -1px 4px 20px 1px rgba(0, 0, 0, 0.35);
}

.year-nav {
  background-color: #fff;
  box-shadow: 10px 14px 80px -15px rgba(0, 0, 0, 0.75);
}

.info {
  background-color: #fff;
  box-shadow: -10px 14px 80px -15px rgba(0, 0, 0, 0.75);
}
.info .date-info {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}
.info .date-info::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
.info .date-info::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=light-theme.css.map */
