* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 8fr;
}

.calendar {
  display: grid;
  grid-template: "monthNav monthNav yearNav" 55px "daysList daysList yearNav" 20px "monthsDates monthsDates yearNav"/1fr 1fr 100px;
  grid-row-gap: 47px;
}
.calendar .month-nav {
  grid-area: monthNav;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-column-gap: 10px;
  z-index: 2;
  padding: 0 30px;
}
.calendar .days-list {
  grid-area: daysList;
  display: grid;
  grid-template-columns: repeat(7, 80px);
  justify-content: center;
}
.calendar .days-list span {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.calendar .months-dates-carousel {
  grid-area: monthsDates;
  z-index: 2;
}
.calendar .months-dates-carousel .months-dates {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-auto-rows: 60px;
}
.calendar .year-nav {
  grid-area: yearNav;
  display: grid;
  grid-template-rows: 25px 1fr 25px;
  border-radius: 5px;
  align-items: center;
  z-index: 1;
  padding: 20px 0;
}
.calendar .year-nav .year-carousel .carousel__item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
.calendar .year-nav .year-carousel .carousel__item:nth-child(5) {
  font-size: 30px;
}
.calendar .year-nav .year-carousel .carousel__item:nth-child(4), .calendar .year-nav .year-carousel .carousel__item:nth-child(6) {
  font-size: 20px;
}
.calendar .year-nav .year-carousel .carousel__item:nth-child(3), .calendar .year-nav .year-carousel .carousel__item:nth-child(7) {
  font-size: 10px;
}
.calendar .year-nav .year-carousel .carousel__item:nth-child(1), .calendar .year-nav .year-carousel .carousel__item:nth-child(2), .calendar .year-nav .year-carousel .carousel__item:nth-child(8), .calendar .year-nav .year-carousel .carousel__item:nth-child(9) {
  font-size: 6px;
}

.carousel {
  display: flex;
  overflow: hidden;
}
.carousel__item {
  width: 100%;
  transition: 0.3s ease-in-out;
  flex: 0 0 100%;
}
.carousel__item:first-child {
  margin-left: -100%;
}
.carousel_vert {
  flex-direction: column;
  height: 420px;
}
.carousel_vert .carousel__item {
  height: 60px;
  flex: none;
  text-align: center;
}
.carousel_vert .carousel__item:first-child {
  margin-top: -60px;
  margin-left: 0;
}
.carousel_vert .carousel__item:first-child * {
  transition: 0.3s ease;
}
.carousel_hor {
  margin-left: 0;
}

.info {
  width: 215px;
  height: 600px;
  display: grid;
  grid-template-rows: 140px 1fr 65px;
}
.info .user-info-container {
  display: grid;
  height: 100%;
  grid-template-rows: 3fr 1fr;
}
.info .date-info {
  overflow-y: scroll;
  overflow-x: hidden;
}
.info .date-info::-webkit-scrollbar {
  width: 5px;
  transition: 0.3s ease-in-out;
}

.months-carousel .carousel__item {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.months-carousel .carousel__item:nth-child(2), .months-carousel .carousel__item:nth-child(3), .months-carousel .carousel__item:nth-child(4) {
  flex: 0 0 33.3333%;
}
.months-carousel .carousel__item:nth-child(1), .months-carousel .carousel__item:nth-child(2), .months-carousel .carousel__item:nth-child(4), .months-carousel .carousel__item:nth-child(5) {
  font-size: 15px;
}
.months-carousel .carousel__item:nth-child(1), .months-carousel .carousel__item:nth-child(2) {
  justify-content: flex-start;
}
.months-carousel .carousel__item:nth-child(4), .months-carousel .carousel__item:nth-child(5) {
  justify-content: flex-end;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button img {
  transition: 0.3s ease-in-out;
}
.button_month-nav.l:hover img {
  margin-left: -10px;
}
.button_month-nav.r:hover img {
  margin-left: 7px;
}
.button_year-nav {
  height: 30px;
}
.button_year-nav#pYr img {
  margin-top: 5px;
}
.button_year-nav#pYr:hover img {
  margin-top: -20px;
}
.button_year-nav#nYr:hover img {
  margin-top: 10px;
}
.button_settings {
  padding: 5px;
}
.button_settings img {
  display: block;
}
.button_choice-theme {
  padding: 10px;
  font-size: 20px;
  width: 150px;
}
.button_todo {
  width: 100%;
  display: block;
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  transition: 0.3s ease-in-out;
  word-wrap: break-word;
  line-height: 20px;
}
.button_todo .time {
  display: block;
  font-size: 12px;
  margin-top: 8px;
}
.button_todo .time span {
  font-weight: bolder;
}
.button_date {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  transition: 0.3s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
