* {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
}

#label {
  color: #FFFFFF;
}

#container {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10%);
  border-radius: 10px;
}

#buttons button {
  color: #fff;
  background: transparent;
  cursor: pointer;
  outline: none;
  font-size: 15px;
}

#data {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  border-radius: 0;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 20px;
}

/*# sourceMappingURL=prompt.css.map */
