.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.button img {
  transition: 0.3s ease-in-out;
}
.button_month-nav.l:hover img {
  margin-left: -10px;
}
.button_month-nav.r:hover img {
  margin-left: 7px;
}
.button_year-nav {
  height: 30px;
}
.button_year-nav#pYr img {
  margin-top: 5px;
}
.button_year-nav#pYr:hover img {
  margin-top: -20px;
}
.button_year-nav#nYr:hover img {
  margin-top: 10px;
}
.button_settings {
  padding: 5px;
}
.button_settings img {
  display: block;
}
.button_choice-theme {
  padding: 10px;
  font-size: 20px;
  width: 150px;
}
.button_todo {
  width: 100%;
  display: block;
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-align: left;
  transition: 0.3s ease-in-out;
  word-wrap: break-word;
  line-height: 20px;
}
.button_todo .time {
  display: block;
  font-size: 12px;
  margin-top: 8px;
}
.button_todo .time span {
  font-weight: bolder;
}
.button_date {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  outline: none;
  transition: 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 3fr;
}
.wrapper .setting {
  border-bottom: 1px solid #f7f7f7;
  display: grid;
  grid-template-columns: 3fr 7fr;
  transition: 0.3s ease-in-out;
}
.wrapper .setting-name {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  padding-left: 30px;
}
.wrapper .setting-name_tc {
  display: flex;
  align-items: center;
}
.wrapper .setting-name_bg-choice {
  padding-top: 30px;
}
.wrapper .setting-values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 250px;
}
.wrapper .setting-values__item {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  display: flex;
}
.wrapper .setting-values__item .radio-btn {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
}
.wrapper .setting-values__item label {
  position: relative;
  display: flex;
}
.wrapper .setting-values__item label input[type=radio] {
  display: block;
  opacity: 0;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.wrapper .setting-values__item label span:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.wrapper .setting .drop-area {
  width: 300px;
  height: 300px;
  transition: 0.3s ease-in-out;
}
.wrapper .preview-img {
  width: 400px;
  height: 200px;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.wrapper .preview-img img {
  max-width: 400px;
}
.wrapper[dark-theme] {
  background-color: #121212;
  color: #e0e0e0;
}
.wrapper[dark-theme] .light-theme-img {
  display: none;
}
.wrapper[dark-theme] .setting {
  border-bottom: 1px solid #242424;
}
.wrapper[dark-theme] .setting:nth-child(even) {
  background: #242424;
}
.wrapper[dark-theme] .setting-values .button_choice-theme {
  color: #e0e0e0;
  border: 1px solid #242424;
}
.wrapper[dark-theme] .setting-values .button_choice-theme:hover {
  background: #242424;
  box-shadow: 0 0 10px 5px #383838;
}
.wrapper[dark-theme] .setting-values label span:after {
  background: #e0e0e0;
  border: 3px solid #e0e0e0;
}
.wrapper[dark-theme] .setting-values label input[type=radio]:checked + span:after {
  background: #383838;
}
.wrapper[dark-theme] .setting .drop-area {
  border: 1px solid #242424;
}
.wrapper[dark-theme] .setting .drop-area.highlight {
  background-color: #242424;
}
.wrapper[light-theme] {
  background: #fff;
}
.wrapper[light-theme] .default-img {
  display: none;
}
.wrapper[light-theme] .setting:nth-child(even) {
  background: #f7f7f7;
}
.wrapper[light-theme] .setting-values .button_choice-theme {
  color: #000;
  border: 1px solid #f7f7f7;
}
.wrapper[light-theme] .setting-values .button_choice-theme:hover {
  background: #f7f7f7;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}
.wrapper[light-theme] .setting-values label span:after {
  background: #000;
  border: 3px solid #000;
}
.wrapper[light-theme] .setting-values label input[type=radio]:checked + span:after {
  background: #fff;
}
.wrapper[light-theme] .setting .drop-area {
  border: 1px solid #000;
  background: #fff;
}
.wrapper[light-theme] .setting .drop-area.highlight {
  background: #f7f7f7;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
}
.wrapper[default-theme] {
  background-image: url("../img/bg6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
.wrapper[default-theme] .light-theme-img {
  display: none;
}
.wrapper[default-theme] .setting {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.wrapper[default-theme] .setting-values .button_choice-theme {
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.wrapper[default-theme] .setting-values .button_choice-theme:hover {
  background: rgba(0, 0, 0, 0.3);
}
.wrapper[default-theme] .setting-values label span:after {
  background: #ffffff;
  border: 3px solid #ffffff;
}
.wrapper[default-theme] .setting-values label input[type=radio]:checked + span:after {
  background: transparent;
}
.wrapper[default-theme] .setting .drop-area {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
}
.wrapper[default-theme] .setting .drop-area.highlight {
  background: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=settings.css.map */
