.button {
    .light-theme-img {
        display: none;
    }

    &_todo {
        color: $fontColorDarkTheme;
        background-color: $bgDarkTheme;
        border-bottom: $borderDarkTheme;

        &:hover {
            background-color: $bgDarkThemeHover;
        }
    }

    &_date {
        color: $fontColorDarkTheme;
        background-color: $bgDarkTheme;

        &:hover {
            background-color: $bgDarkThemeHover;
            box-shadow: -1px 4px 20px 1px #242424;
        }
    }
}