.year-nav {
    background-color: $bgDarkTheme;
    box-shadow: 10px 14px 80px -15px #242424;

    .year-carousel {
        color: $fontColorDarkTheme;
    }
}

.days-list {
    span {
        color: $fontColorDarkTheme;
    }
}