.info {
    background-color: $bgDarkTheme;
    box-shadow: -10px 14px 80px -15px #242424;

    .date-info {
        border-top: $borderDarkTheme;
        border-bottom: $borderDarkTheme;


        &::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, .2);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, .3);
        }
    }
}