.button {
    .default-img {
        display: none;
    }

    &_todo {
        color: $fontColorLightTheme;
        background-color: $bgLightTheme;
        border-bottom: $borderLightTheme;

        &:hover {
            background-color: $bgLightThemeHover;
        }
    }

    &_date {
        color: $fontColorLightTheme;
        background-color: $bgLightTheme;
        border-bottom: $borderLightTheme;

        &:hover {
            background-color: $bgLightThemeHover;
            box-shadow: -1px 4px 20px 1px rgba(0,0,0,0.35);
        }
    }
}