.info {
    background-color: $bgLightTheme;
    box-shadow: -10px 14px 80px -15px rgba(0,0,0,0.75);

    .date-info {
        border-top: $borderLightTheme;
        border-bottom: $borderLightTheme;


        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, .2);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, .1);
        }
    }
}